<div class="col-xs-12" id="bottom-main">
  <div class="col-xs-5" id="site-theory">
    <h2 class="site-theory-headers">Why are you here?</h2>
    <p>You, just like me have grown tired of the  <span class="blue-pill">blue pill</span>  on job sites.</p>
    <h2 class="site-theory-headers">Solution?</h2>
    <p>Take the <span class="red-pill">red pill</span> and at least get some of your browser tabs back.</p> 
    <p>This is not a solution to keep you from going anywhere else.</p>
    <p>Instead it can enhance opportunities that are already there but cumbersome to manage.</p>
    <p>Join me and together we shall rule the time spent searching for Rails jobs.</p>
  </div>
  <div class="col-xs-5" id="about-me">
    <h2 class="site-theory-headers">Who am I?</h2>
    <h4>A rails developer that wanted a more stream-lined way of looking at jobs.</h4>
    <p>so...</p>
    <p>The joy of using Rails && A bit of an obsession with web scraping && The need for a job = All of this</p>
    <p>I went through the normal teach yourself to code route. Along the way I finally reached a point
    that I knew I should start looking for opportunities that pay off. </p>
  </div>
  <div class="col-xs-2" id="contact-me">
    <h2 class="site-theory-headers" id="contact-header">Contact</h2>
    <%= button_to "Contact Me", new_contact_path, id: "contact-btn", class: "btn btn-lg btn-primary", method: :get %><br>
    <%= button_to "Advertise with Me", main_payment_path, class: "btn btn-lg btn-success support-btn", method: :get %>
  </div>
</div>