<div data-controller="scrollbar" class="grid" id="scrollbar">
  <div class="grid__header">
    RailsJobHub
  </div>

  <div data-target="scrollbar.left"
       data-action="ps-y-reach-end->scrollbar#scrollBottom"
       class="grid__left">
    <%= render 'home_page/job_meta' %>
    <div data-controller="job-meta" class="text-center">
      <%= button_to( home_index_path, type: "html",
                   class: "btn btn-lg btn-primary load_jobs",
                   method: :get, params: {page: "2"}, remote: true) do %>
        <span class="load__button">
          Load More Jobs
        </span>
      <% end %>
    </div>
  </div>

  <div data-target="scrollbar.right" class="grid__right" id="job_description">
    <%= render 'home_page/job_description' %>
  </div>

  <div class="grid__footer">
    About
  </div>
</div>
