<div class="grid">
  <div class="grid__header">
    RailsJobHub
  </div>

  <div class="grid__left">
    <%= render 'job_meta' %>
  </div>

  <div class="grid__right">
    <%= render 'job_description' %>
  </div>

  <div class="grid__footer">
    About
  </div>
</div>
