<div class="grid">
  <div class="grid__header">
    header
  </div>

  <div class="grid__left">
    left
  </div>

  <div class="grid__right">
    right
  </div>

  <div class="grid__footer">
    footer
  </div>
</div>
