<div data-controller="scrollbar" class="grid">
  <div class="grid__header">
    RailsJobHub
  </div>

  <div data-target="scrollbar.left" class="grid__left">
    <%= render 'home_page/job_meta' %>
  </div>

  <div data-target="scrollbar.right" class="grid__right" id="job_description">
    <%= render 'home_page/job_description' %>
  </div>

  <div class="grid__footer">
    About
  </div>
</div>
