<% @valid_contracts_array.each do |contract| %>
<div class="col-xs-12 box">
  <div class="col-xs-3"><%= contract.id %></div>
  <div class="col-xs-3 job-title"><%= contract.title %></div>
  <div class="col-xs-3 job-description"><%= truncate(contract.description, length: 700) %></div>
  <div class="col-xs-3"><%= contract.expiration %></div>
</div>
<% end %>