<div class="col-xs-6 left-col">
  <div class="text-center col-xs-12 box empty-contracts">
     <h1> Welcome to Rails Job Hub</h1>
     <h2> Contract Job Postings</h2>
     <h3>*If You Are Looking for a Top Rails or Ruby Developer You Have <br> Come to the Right Site</h3>
     <h3>Rails Job Hub is the premier jobsite for Rails and Ruby developers. Rails Job Hub aggregates 
     all the major job websites for Rails, Ruby, and web scrapping jobs. </h3>
      <ul>
       <li>
         Your contract job listing will remain on this site for 30 days.
       </l1>
       <li>
         After seven days your listing will be removed.
       </li>
       <li>
       You can always post your job listing for $199.00 for another 30 days.
       </li> 
      </ul>

  </div>
</div>
<div class="col-xs-6 right-col">
  <div class="col-xs-12 box">
    
      <div class="col-xs-12 job-title"><h1 class="contracts-title">Your Job Title Here </h1></div>
      <div class="col-xs-12 job-description">
          In this section you describe what the job is and how people are to get contant you.</div>
      <div class="col-xs-4">Date of Posting</div>
    </div>
    
  </div>
</div>