<div>
  <a href="#" onClick="event.preventDefault()">
    <span class="job">
      <span class="job__title">
        <h5 data-target="job-post--job-meta.title">Your Title Here</h5>
      </span>
      <span class="job__meta">
        <span class="job__date">
          Today
        </span>
        <span class="job__company" data-target="job-post--job-meta.company">
          Company
        </span>
        <span class="job__location" data-target="job-post--job-meta.location">
          Location
        </span>
      </span>
    </span>
  </a>
</div>
