<div data-target="scrollbar.right" class="grid__right_job">
  <div class="title_description">
    <h3 id="title_description">
      Your Title Here
    </h3>
    <div class="meta_description">
      <div>
        <span>Posted: Today - </span>
        <span>Source: RailsJobHub</span>
      </div>
      <div>
        <span id="company_description">Company - </span>
        <span id="location_description">Location</span>
      </div>
    </div>
  </div>

  <div class="job__description" id="job_description"
    data-action="change->scrollbar#scrollTop">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac. Lectus quam id leo in vitae turpis massa. Vel elit scelerisque mauris pellentesque pulvinar. Id diam vel quam elementum pulvinar etiam non quam. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Donec massa sapien faucibus et molestie ac. Euismod lacinia at quis risus. Luctus accumsan tortor posuere ac ut. Vel orci porta non pulvinar neque laoreet suspendisse interdum. Nunc pulvinar sapien et ligula ullamcorper malesuada. Ultricies integer quis auctor elit. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nisi vitae suscipit tellus mauris. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Ante in nibh mauris cursus mattis molestie a iaculis. Posuere urna nec tincidunt praesent semper. Augue neque gravida in fermentum et.
    </p>
    <p>
      Nunc vel risus commodo viverra. Urna duis convallis convallis tellus. Quis commodo odio aenean sed adipiscing. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Pretium viverra suspendisse potenti nullam. Varius duis at consectetur lorem donec massa sapien faucibus et. Sed vulputate odio ut enim. Malesuada proin libero nunc consequat interdum varius sit amet. Ut faucibus pulvinar elementum integer. Luctus accumsan tortor posuere ac ut consequat semper viverra. Faucibus scelerisque eleifend donec pretium vulputate. Volutpat est velit egestas dui id ornare. Id aliquet risus feugiat in ante metus dictum at tempor. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Semper viverra nam libero justo laoreet sit amet. Ut consequat semper viverra nam libero. Adipiscing commodo elit at imperdiet dui accumsan.
    </p>
    <p>
      Vitae tempus quam pellentesque nec. Magna ac placerat vestibulum lectus mauris ultrices. Ridiculus mus mauris vitae ultricies leo integer. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Et magnis dis parturient montes nascetur ridiculus mus. Enim nec dui nunc mattis. Enim facilisis gravida neque convallis a cras. Faucibus pulvinar elementum integer enim neque volutpat ac. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Pellentesque habitant morbi tristique senectus. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Et malesuada fames ac turpis egestas integer eget aliquet. Arcu odio ut sem nulla pharetra. Sem fringilla ut morbi tincidunt augue interdum velit euismod in. Tellus id interdum velit laoreet id donec ultrices tincidunt arcu. Purus faucibus ornare suspendisse sed nisi. Integer feugiat scelerisque varius morbi enim nunc faucibus. Viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas. A pellentesque sit amet porttitor eget dolor morbi non arcu. Facilisi etiam dignissim diam quis enim.
    </p>
  </div>
  <div class="text-center">
    <a href="#" onClick="event.preventDefault()">
      <button class="btn btn-lg btn-success">
        Apply Here!
      </button>
    </a>
  </div>
</div>
