// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact-form {
  font-family: 'Cinzel', serif;
  color: #00e600;
  font-size: 1.3em;
  margin-top: 15%;
  margin-left: 37%;
}

#contact-submit {
  color: black;
}

#contact-text {
  
}

.contact-form {
  color: black;
}

.col-xs-6 > .empty-contracts {
  word-break: normal;
//the fuck heroku take this fucking file
}