// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Cinzel', serif;  Title / Head look
// font-family: 'Josefin Slab', serif;  regular clean look
// font-family: 'Revalia', cursive;  coder looking
// font-family: 'VT323', monospace;  coder looking even super old computer looking

.container-fluid {
  
}

.left-col {
  margin-top: 10%;
}

.right-col {
  margin-top: 10%;
}

#navbar-css {
 font-size: 1.5em;
 font-style: bold;
 font-family: 'Cinzel', serif;
 //margin-bottom: 1%;
}

li > .dropdown-menu {
  background-color: black;
}

li > .dropdown-menu > li > a {
  color: #00e600;
}

#location-navtab {
  // position: absolute;
  // top: 0;
  // right: 1%;
}

#payment-head {
  font-size: 200%;
  color: #ffffff;
}

#oops {
  margin-top: 10%;
}

.box-height {
  height: 50%;
  color: #ffffff;
  word-break: normal
}


#home-navtab {
  // position: absolute;
  // top: 0;
  // right: 1%;
}

#nav-freelancer {
  position: relative;
}

.nav-tabs {
  color: #00e600;
}

.navtabs > a {
  color: #00e600;
}

.navtabs > a:hover {
  color: black;
  font-style: italic;
}


// Main homepage

#header-main {
  //background-color: white;
  color: #ff1a1a;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

#main-header {
  font-family: 'Cinzel', serif;
  font-style: oblique;
  font-size: 4em;
  color: #ff1a1a;
  text-align: center;
}

#body-main {
  //background-color: white;
  display: inline-block;
}

#jobs-list {
  // float: none;
  // margin: 0 auto;
  text-align: center;
  margin: auto;
}

.list-inline > li {
  margin-top: 1%;
}

#bottom-main {
  display: inline-block;
}

#contact-header {
  text-align: center;
}

#contact-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#advertise-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.support-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blue-pill {
  color: #6666ff;
  font-style: italic;
  font-size: 1.09em;
}

.red-pill {
  color: #ff1a1a;
  font-style: italic;
  font-size: 1.09em;
}

#main-header {
  font-family: 'Cinzel', serif;
  font-style: oblique;
  font-size: 4em;
  color: #ff1a1a;
  text-align: center;
}

#site-theory {
  font-size: 1.2em;
  color: #ffffff;
}

.site-theory-headers {
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: #00e600
}

#about-me {
  font-size: 1.2em;
  color: #ffffff;
}

#contact-me {
  font-size: 1.2em;
  color: #ffffff;
}

.railsjobhub > a {
  color: red
}

.white {
  color: white;
}


.logo {
  // margin-bottom: 2%;
}

#railsjobhubcenter {
  
}

#github-logo {
  position: relative;
  z-index: 0;
  width: 172px;
  height: 48px;
  background-color: #2B7FC3;
  top: 0;
  left: 0;
}