// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Cinzel', serif;
// font-family: 'Josefin Slab', serif;

.container-fluid {
  
}

#navbar-css {
 font-size: 1.5em;
 font-style: bold;
 font-family: 'Cinzel', serif;
 //margin-bottom: 1%;
}

.navtabs > a {
  color: #00e600;
}

.navtabs > a:hover {
  color: black;
  font-style: italic;
}

.box {
  border-style: ridge;
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
}

.job-background {
  background-color: #b3b3b3;
  position: absolute;
  height: 100%;
}

.job-title{
  margin-bottom: 1%;
  
}

.job-description {
  margin-bottom: 1%;
  //overflow-y: scroll;
}

.job-skills {
  margin-bottom: 1%;
  color: #00e6e6;
  font-size: 1.3em;
  text-align: center;
}

.job-start {
  font-size: 1.1em;
  //color: #cc0000;
}

.job-finish {
  font-size: 1.1em;
  //color: #cc0000;
}

.job-bids {
  font-size: 1.1em;
  //color: #cc0000;
}

.job-budget {
  font-size: 1.1em;
  //color: #cc0000;
}



