// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Cinzel', serif;
// font-family: 'Josefin Slab', serif;

.container-fluid {
  
}

#navbar-css {
 font-size: 1.5em;
 font-style: bold;
 font-family: 'Cinzel', serif;
 //margin-bottom: 1%;
}

.navtabs > a {
  color: #00e600;
}

.navtabs > a:hover {
  color: black;
  font-style: italic;
}



