<div class="grid__footer">
  <div class="footer_job_post">
    <%= link_to(new_job_path) do %>
    <button class="btn btn-sm btn-success">
      Post a Job for Free!
    </button>
    <% end %>
  </div>
  <div class="footer_favicon text-center">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
     from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
     is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div class="footer_contact">
    <%= link_to(new_contact_path) do %>
    <button class="btn btn-sm btn-primary">
      Contact Us!
    </button>
    <% end %>
  </div>
</div>
