<ul class="row nav nav-tabs navbar-inverse navbar-fixed-top" id="navbar-css">
  <li class="navtabs">
    <a href="#">
      Freelancer
    </a>
  </li>
  <li class="navtabs">
    <a href="#">
      Upwork
    </a>
  </li>
  <li class="navtabs">
    <a href="#">
      WeWorkRemotely
    </a>
  </li>
  <li class="navtabs">
    <a href="#">
      Indeed
    </a>
  </li>
  <li class="navtabs">
    <a href="#">
      Stack Jobs
    </a>
  </li>
</ul>