<ul class="row nav nav-tabs navbar-inverse navbar-fixed-top" id="navbar-css">
  <li class="navtabs">
    <%= link_to "Freelancer", "freelancer#rails" %>
  </li>
  <li class="navtabs">
    <%= link_to "Upwork", "upwork#rails" %>
  </li>
  <li class="navtabs">
    <%= link_to "WeWorkRemotely", "weworkremotely#rails" %>
  </li>
  <li class="navtabs">
    <a href="#">
      Indeed
    </a>
  </li>
  <li class="navtabs">
    <a href="#">
      Stack Jobs
    </a>
  </li>
</ul>